html, body{
  width: 100%;
  padding: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 100px;
}

body{
  padding-left: 10px;
}

.flexible{
  display: flex;
}

.chart{
  border: 1px solid #e0e0e8;
  height: 300px;
  width: 300px;
  margin: 8px;
  border-radius: 2px;
}

.FEbCLink{
  border-bottom: 1px solid #e0e0e8;
  padding-bottom: 0px;
}